{{template "base" .}}

{{define "content"}}
<h1>this is about page</h1>
<form action="/postline" method="post">
                    
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

    <div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" id="accept">
    <label class="form-check-label" for="accept">Accept ...</label>
    </div>

    <button type="submit" class="btn btn-primary">Testpostinline</button>
</form>

{{end}}