{{template "base" .}}

{{define "content"}}
<title>Admin</title>
<body>
    <div class="container" style="align-items: center; text-align: center;">
    <h1>Navigation Buttons</h1>
    

        <!-- Button 1: Navigate to Page 1 on the server -->
        <div class="row">
            <div class="col-12">
                <a href="/getorder"><button type="button" class="btn btn-primary btn-lg btn-block">Get order</button></a>
            </div>
        </div>
    <br>
        
        <!-- Button 2: Navigate to Page 2 on the server -->
        <div class="row">
            <div class="col-12">
                <a href="/manage_product"><button type="button" class="btn btn-primary btn-lg btn-block">Manage product</button></a>
            </div>
        </div>
    <br>
        <!-- Button 3: Navigate to Page 3 on the server -->
        <div class="row">
            <div class="col-12">
                <a href="/add_product"><button type="button" class="btn btn-primary btn-lg btn-block">Add product</button></a>
            </div>
        </div>
    </div>
   
</body>
{{end}}
