{{template "base" .}}

{{define "content"}}
<style>
    .custom-carousel {
        background-color: black; /* Set the background color to black */
        width: 100%; /* Set the width to 100% */
        height: 400px; /* Set the height to your desired fixed height */
        position: relative;
        display: flex; /* Use flexbox to center content vertically */
        align-items: center; /* Center vertically */
    }
    /* Ensure that the images maintain their aspect ratio */
    .custom-carousel img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .top-image {
        position: absolute;
        top: 30%; /* Position at the top */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
    }
    .body {
        font-family: 'Prompt'!important;
    }

</style>

<body>
    <div class="container" style="width: 100%; height: 420px; background-color: rgb(255, 255, 255); position: relative; align-items: center;margin: 0;padding: 0;">
        <div id="mycorousel" class="carousel slide carousel-fade custom-carousel" data-bs-ride="carousel"> <!-- Use col-8 to set the width of the carousel -->

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#mycorousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#mycorousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#mycorousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#mycorousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#mycorousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#mycorousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#mycorousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner" style="position: relative;">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="../static/image/homepic1.JPG" class="d-block w-100" alt="..." > <!-- Use w-100 to make the image fill the container -->

                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../static/image/homepic2.JPG" class="d-block w-100" alt="..." >
                    

                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../static/image/homepic3.JPG" class="d-block w-100" alt="...">

                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../static/image/homepic4.JPG" class="d-block w-100" alt="..." >

                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../static/image/homepic5.JPG" class="d-block w-100" alt="..." >
 
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../static/image/homepic6.JPG" class="d-block w-100" alt="..." >

                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../static/image/homepic7.JPG" class="d-block w-100" alt="..." >

                </div>

            </div>
        </div>
        <img src="../static/image/logo.png" alt="Top Image" class="top-image" style="z-index: 5;">
    </div>
    <div class="container" style="position: absolute;">
        <h1 class="text-center" style="font-family: 'Prompt'" >Welcome to Monbaree</h1>
        <h1 class="text-center" style="font-family: 'Prompt'" >(วิสหกิจเพื่อสังคม)</h1>
        <div class="row">
            <div class="col text-center">
                <a href="/ourstory" type="button" class="btn btn-success" style="background-color: #DE3163;">Our Story</a>
                <a href="/product" type="button" class="btn btn-success" style="background-color: #DE3163;">Our Product</a>
                <a href="/visitmon" type="button" class="btn btn-success" style="background-color: #DE3163;">Visit Mon</a>
            </div>
        </div>
        
    </div>
</body>
    <!-- <div class="row my-footer">
        <div class="col">left</div>
        <div class="col">middle</div>
        <div class="col">right</div>
    </div> -->
{{end}}

    
