{{template "base" .}}

{{define "content"}}
    <div class="container">
        <img src="static/image/ourfarm.jpg" alt="ourfarm" class="img-fluid mx-auto d-block" style="max-width: 50%;">
    </div>

    <div class="container">
        <h1 class="text-center">Welcome to our farm</h1>
        <div class="text-center">BlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaa</div>
        <div class="text-center">BlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaa</div>
        <div class="text-center">BlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaaBlaBlaaaa</div>
        <Br>
        <div class="row">
            <div class="col text-center">
                <a type="button" class="btn btn-success">Check out product</a>
                <a type="button" class="btn btn-success">Buy our product</a>
            </div>
        </div>
        
    </div>

    <!-- <div class="row my-footer">
        <div class="col">left</div>
        <div class="col">middle</div>
        <div class="col">right</div>
    </div> -->

{{end}}
    
