{{template "base" .}}

{{define "content"}}
<div class="div" style="text-align: center;">
    <h1>ทำการสั่งซื้อเรียบร้อย!</h1>
    <h2> ท่านสามารถเช็ครายการสั่งซื้อผ่าน Line ของท่านได้เลย</h2>
</div>


{{end}}