{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row"><h3>Summary</h3></div>
    <div class="row">Total Sale: {{.StringIntMap.totalspend}}</div>
    <div class="row">Credit in system: {{.StringIntMap.creditremain}}</div>
    <div class="row">Total Credit Redeem: {{.StringIntMap.creditredeemed}}</div>
    <div class="row">Total Credit Use: {{.StringIntMap.creditused}}</div>
</div>

<br>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">FirstName</th>
                    <th scope="col">Phone</th>
                    <th scope="col">AmountRemain</th>
                    <th scope="col">CreditRedeem</th>
                    <th scope="col">CreditUse</th>
                    <th scope="col">PintoRedeem</th>
                    <th scope="col">TotalSpend</th>
                </tr>
                </thead>
                <tbody>

                    {{range $index, $Data := .UserData}}
                        <tr>
                            <td>{{.User.FirstName}}</td>
                            <td>{{.User.Phone}}</td>
                            <td>{{.User.AmountRemain}}</td>
                            <td>{{.CreditRedeem}}</td>
                            <td>{{.CreditUse}}</td>
                            <td>{{.PintoRedeem}}</td>
                            <td>{{.TotalSpend}}</td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </div>


        
    </div>

{{end}}

<script>
  
</script>

